<% if (images.length) { %>
  <section class="collection">
    <% var lastDate, lastViews, lastComments, counter = 0 %>
    <% images.forEach((image, index) => { %>
      <% if (index === images.length - 1) {
        if (query.sort === 'views') { lastViews = image.viewCount }
        else if (query.sort === 'comments') { lastComments = image.comment ? image.comment.length : 0 }
        else { lastDate = image.uploadDate.getTime() }
      } %>
      <div class="card">
        <img
          width="<%= image.width %>"
          height="<%= image.height %>"
          src="data:image/gif;base64,<%= image.blankData.toString('base64') %>"
          alt="">
        <div class="overlay">
          <a href="<%= image.image %>">
            <img
              width="<%= image.width %>"
              height="<%= image.height %>"
              alt="<%= (image.name ? (image.name + ' - ') : '') + (image.description || '') %>"
              title="<%= image.description || '' %>"
              src="<%= image.thumbnailUrl %>">
          </a>
          <% if (isAdmin) { %>
            <form method="post" action="<%= `images/${encodeURIComponent(image.id)}/delete` %>">
              <button class="delete">×</button>
            </form>
          <% } %>
        </div>
        <div class="info">
          <div class="line">
            <input type="checkbox" id="<%= `edit-${counter}` %>" class="edit">
            <label class="edit" for="<%= `edit-${counter}` %>" title="Edit">✎</label>
            <input type="checkbox" id="<%= `comment-${counter}` %>" class="comment">
            <label class="comment" for="<%= `comment-${counter}` %>" title="<%= image.comment && image.comment.length ? `${image.comment.length} comment${image.comment.length > 1 ? 's' : ''}` : `Comment` %>"><%= `★ ${image.comment ? image.comment.length : 0}` %></label>
            <% counter++ %>
            <span class="view-count">
              <% var viewCount = numeral(image.viewCount).format('0,0') %>
              <%- `<span title="${viewCount} view${image.viewCount !== 1 ? 's' : ''}">⎆ ${viewCount}</span>` %>
            </span>
            <time datetime="<%= moment(image.uploadDate).toISOString() %>">
              <span title="<%= moment(image.uploadDate).format('MMMM Do, YYYY') %>">
                <%= moment(image.uploadDate).fromNow() %>
              </span>
            </time>
            <div class="popup edit">
              <form method="post" enctype="multipart/form-data"
                action="<%= `/images/${encodeURIComponent(image.id)}/edit` %>">
                <input type="text" name="about" value="<%= image.about.join(', ') %>"
                  placeholder="Comma-separated IDs...">
                <input type="text" name="keywords" value="<%= image.keywords.join(', ') %>"
                  placeholder="Comma-separated tags...">
                <input type="text" name="description" value="<%= image.description || '' %>"
                  placeholder="Description...">
                <input type="hidden" name="id" value="<%= image.id %>">
                <button>Edit</button>
              </form>
            </div>
            <div class="popup comment">
              <% if (image.comment && image.comment.length) { %>
                <ul class="comments">
                  <% image.comment.forEach(id => { %>
                    <% var comment = include.Comment.find(record => record.id === id) %>
                    <li>
                      <% if (isAdmin) { %>
                        <form method="post"
                          action="<%= `comments/${encodeURIComponent(comment.id)}/delete` %>">
                          <button class="delete">×</button>
                        </form>
                      <% } %>
                      <%= comment.text %>&nbsp;
                      <time datetime="<%= moment(comment.dateCreated).toISOString() %>">
                        <span title="<%= moment(comment.dateCreated).format('MMMM Do, YYYY') %>">
                          <%= moment(comment.dateCreated).fromNow() %>
                        </span>
                      </time>
                    </li>
                  <% }) %>
                </ul>
              <% } %>
              <form method="post" enctype="multipart/form-data" action="<%= `/comments` %>">
                <input type="text" name="text" placeholder="Add comment...">
                <input type="hidden" name="about" value="<%= image.id %>">
                <button>Comment</button>
              </form>
            </div>
          </div>
          <% if (image.keywords.length || image.about.length) { %>
            <div class="line">
              <% image.about.forEach(id => { %>
                <a class="tag id" href="<%= '?' + qs.stringify({ id }) %>">
                  <%= id %>
                </a>
              <% }) %>
              <% image.keywords.forEach(keyword => { %>
                <a class="tag" href="<%= '?' + qs.stringify({ tag: keyword }) %>">
                  <%= keyword %>
                </a>
              <% }) %>
            </div>
          <% } %>
        </div>
      </div>
    <% }) %>
  </section>
  <nav>
    <% if (previousCount) { %>
      <a class="button dark" href="<%= '?' + qs.stringify(Object.assign({}, query,
        previousDate !== void 0 ? { before: previousDate } : null,
        previousViews !== void 0 ? { views: previousViews + 1 } : null,
        previousComments !== void 0 ? { comments: previousComments + 1 } : null)) %>">
        <span class="arrow left">◀</span>
        Previous (<%= numeral(previousCount).format('0,0') %>)
      </a>
    <% } %>
    <% if (images.length >= settings.perPage &&
      (lastDate !== void 0 ? query.before !== lastDate : true) &&
      (lastViews !== void 0 ? query.views !== lastViews : true) &&
      (lastComments !== void 0 ? query.comments !== lastComments : true)) { %>
      <a class="button dark" href="<%= '?' + qs.stringify(Object.assign({}, query,
        lastDate !== void 0 ? { before: lastDate - 1 } : null,
        lastViews !== void 0 ? { views: lastViews } : null,
        lastComments !== void 0 ? { comments: lastComments } : null)) %>">
          Next (<%= numeral(images.count - settings.perPage).format('0,0') %>)
          <span class="arrow right">▶</span>
        </a>
    <% } %>
  </nav>
<% } else { %>
  <%- this.error({ error: {
    name: 'No matches',
    message: 'There were no matches for your query.'
  } }) %>
<% } %>
